

body {
   background-color: #EAEAEA;
    font-family:  "IBM Plex Mono";
    font-size: 9pt;
}

.noscroll {
    overflow: hidden;
}

.nav {
    width: 44%;
    float: left;
    margin-left: 50px;
    margin-top: 34px;
    height: 100%;
    position: fixed;
}

#left {
    width: 44%;
    float: left;
    margin-top: 10px;
    margin-left:50px;
    margin-right: 50px;
    height: 100%;
}

#new {
    margin: 40px;
}

#right {
    width:30%;
    float: right;
    margin-top: 25px;
    margin-right: 50px;
    height: 100vh;
}

#line {
    background-color: black;
    width: 1.5px;
    height: 100%;
    position: fixed;
    margin-top: -8px;
    margin-left: 50%;
}

p {
    font-family:  "IBM Plex Mono";
}

.intro {
    text-transform: uppercase;
    font-size: 20pt;
}

.menulinx {
    text-transform: uppercase;
    float:right;
    text-align: right;
}

a {
    text-decoration: none;
    color: black;
}

.hoverable{
    border: 1.5px solid rgba(255,0,0, 0);
}

.hoverable:hover {
    border: 1.5px;
    border-style: solid;
    border-color: #3D4DE3;
    color: #3D4DE3;
}


ul {
    font-family: "IBM Plex Mono";
    list-style-type: none;
    position: absolute;
    bottom: 45px;
}

.list{
    margin-left: -40px;
    margin-top: 10px;
    width: auto;
}

img {
    width: 30vw;
    border: 1.5px solid black;
}

.imgpos {
    top: 45%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 53vw;
    right: 0;
    margin: auto;
}

#la1 {
    width: 35%;
}


#instrumentlogo {
    width: 8%;
}

#bookimg {
    width: 13%;
}

#rosimg {
    width: 15%;
}

#sandalimg {
    width: 35%;
}

#blobimg {
    width: 30%;
}

#okimg {
    width: 30%;
}

#fineimg {
    width: 30%;
}

#afterhoursimg {
    width: 30%;
}

#lacfimg {
    width: 25%;
}

#ucla4allimg {
    width: 25%;
}

.phonedimensions {
    border-radius: 10px;
    width: 13%;
}

.frame {
    display: inline-block;
    height: 100%;
}

.projindex {
    width: 40%;
    float: left;
}

.right {
    border: 1.5px;
    border-style: solid;
    border-color: #EAEAEA;
}

.blackborder {
    border-color: #3D4DE3;
    color: #3D4DE3;
}

.projcategory {
    left: 30%;
    float: right;
    width: 40%;
    margin-right: 0px;

}

#ioimg {
    border-radius: 10px;
    width: 30%;
}

#ministryimg {
    width: 35%;
}

.section {
    margin-left: 50px;
    width: calc(100vw - 120px);
    height: calc(100vh - 80px);
    object-fit: cover;
    border: 1.5px solid black;
    position: sticky;
    top: 80px;
}

#section2 {
    background-color: #EAEAEA;
}

.playgroundtype {
    position:fixed;
    top: 40vh;
    left: 45vw;
}


@media only screen and (max-height: 615px) {
    ul {
    position: static;
    }
    .projcategory {
        position:static;
    }
    .noscroll {
    overflow: scroll;
    }
    
}

@media only screen and (max-width: 1100px) {
  .projcategory {
    visibility: hidden;
  }
}
